@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary: oklch(0.828 0.111 230.318);
  --animate-letter: letter 0.7s ease-in-out infinite;

  @keyframes letter {

    0%,
    100% {
      transform: translateY(0);
      background: oklch(92.2% 0 0);
    }

    50% {
      transform: translateY(-10%);
      background: oklch(80.8% 0 0);
    }
  }
}

#root {
  height: 100vh;
  flex-direction: column;
  display: flex;
}

.spaceLetter {
  width: 10px;
}

.hoverLetter {
  background-color: oklch(96.7% 0.003 264.542);
  animation: var(--animate-letter);
}

.correctLetter {
  background-color: oklch(92.5% 0.084 155.995);
}

.inCorrectLetter {
  background-color: oklch(80.8% 0.114 19.571);
}